
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}



.pick{
    background-color: #1a265c;
}

.gola:hover{
    background-color: red;
}

.rang{
    background-color: #671c3b;
    padding: 200px 200px 200px 200px;
}
.linemai{
    text-align: justify;
}

.hello{
    height: 100px;
}
.hello1{
    height: 150px;
}

/* 
.dropdown:hover .dropdown-menu {
    display: block !important;
    margin-top: 0;  remove the gap so it doesn't close
} */

.btn-group:hover .dropdown-menu {
    display: block !important;
  }

.pad{
    padding-top:-400px;
  }

  .upar{
    margin-top: -250px;
  }
.imgg{
    margin-top: -550px;
    margin-left: 350px;
}
.imggg{
    margin-top: -80px;
    margin-left: 500px;
}
#hello{
    height: 5%;
    width: 100%;
}
.yello{
    text-align: justify;
}
.tikau{
    position: fixed;
    top: 70%;
    right: -40px;
    transform: rotate(90deg);
}
.tikau button:hover{
    background-color: rgba(46, 139, 86, 0.513);
}
